:root {
  --main-color: #162447;
  --second-color: background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
  --link-color: #2e55b8;
  --button-color: #e2d1c3;
  --gradient-color: linear-gradient(90deg, #fdfcfb 0%, #e2d1c3 100%);
  --box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
}

body {
  font-family: "Noto Sans Mono", monospace;
  background: var(--gradient-color);
  color: var(--main-color);
  margin-top: 100px;
}

.hello {
  margin-top: 90px;
}

a{
  color: var(--link-color);
}

a:hover{
  
  text-decoration: none;
}

.navbar-color{
  background: var(--gradient-color);
}


#name {
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  text-shadow: var(--box-shadow);
}

#main-buttons {
  display: flex;
  justify-content: center;
  margin: 40px auto 0px auto;
}

#main-buttons a {
  background: rgba(255, 255, 255, 0.9);
  color: var(--main-color);
  box-shadow: var(--box-shadow);
  border: none;
  padding: 10px 20px;
  margin: 0 10px 0 10px;
}

#main-buttons a:hover{
  background: rgba(104, 104, 104, 0.4);
  color: white;
  border: none;
}

#content-buttons a {
  background: rgba(255, 255, 255, 0.9);
  color: var(--main-color);
  border: none;  
}

#content-buttons a:hover{
  background: rgba(104, 104, 104, 0.4);
  color: white;
  border: none;
}



  